rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /payments/{payment} {
      allow get: if request.auth.uid != null;
      allow create: if request.auth.uid == request.resource.data.userId;
      allow update, delete, list: if request.auth.uid == resource.data.userId;
    }

    match /payments/{payment} {
      allow update: if (
        (request.auth.uid == resource.data.paymentUserId) || resource.data.paymentUserId == null) && 
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['paymentUserId', 'method']));
      allow read, create, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}